.mediaViewInfo {
	--web-view-name: Web 1920 – 2;
	--web-view-id: Web_1920__2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__2 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 2;
	--web-view-id: Web_1920__2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_19 {
	fill: rgba(23,23,23,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 181px;
	left: 0px;
	top: 0px;
}
#Rectangle_20 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 509px;
	height: 747px;
	left: 164px;
	top: 134px;
}
#Rectangle_21 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 514px;
	height: 747px;
	left: 1350px;
	top: 134px;
}
#Rectangle_22 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 507px;
	height: 747px;
	left: 757px;
	top: 134px;
}
#MY_WORK {
	left: 542.5px;
	top: 938.5px;
	position: absolute;
	overflow: hidden;
	width: 906px;
	height: 51px;
	text-align: center;
	font-family: Termina;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#MY_WORK_ {
	left: 549px;
	top: 946.5px;
	position: absolute;
	overflow: hidden;
	width: 906px;
	height: 51px;
	text-align: center;
	font-family: Termina;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Image_7 {
	position: absolute;
	width: 504px;
	height: 309px;
	left: 167px;
	top: 134px;
	overflow: visible;
}
#Recipe_Website {
	left: 214.5px;
	top: 500px;
	position: absolute;
	overflow: visible;
	width: 412px;
	white-space: nowrap;
	text-align: center;
	font-family: Sofachrome;
	font-style: normal;
	font-weight: lighter;
	font-size: 34px;
	color: rgba(0,0,0,1);
}
#Lorem_ipsum_dolor_sit_amet_con_b {
	left: 223px;
	top: 584.5px;
	position: absolute;
	overflow: visible;
	width: 395px;
	height: 208px;
	text-align: left;
	font-family: Termina;
	font-style: normal;
	font-weight: lighter;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#Image_8 {
	position: absolute;
	width: 506px;
	height: 347px;
	left: 757px;
	top: 134px;
	overflow: visible;
}
#GAMING_WEBSITE {
	left: 805.5px;
	top: 507.5px;
	position: absolute;
	overflow: visible;
	width: 426px;
	height: 100px;
	text-align: left;
	font-family: Termina;
	font-style: normal;
	font-weight: lighter;
	font-size: 34px;
	color: rgba(0,0,0,1);
}
#Lorem_ipsum_dolor_sit_amet_con_ca {
	left: 794px;
	top: 584.5px;
	position: absolute;
	overflow: visible;
	width: 449px;
	height: 238px;
	text-align: left;
	font-family: Termina;
	font-style: normal;
	font-weight: lighter;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#Image_9 {
	position: absolute;
	width: 513px;
	height: 254px;
	left: 1350px;
	top: 134px;
	overflow: visible;
}
#COVID_TRACKER {
	left: 1426.5px;
	top: 499px;
	position: absolute;
	overflow: visible;
	width: 362px;
	height: 41px;
	text-align: left;
	font-family: Termina;
	font-style: normal;
	font-weight: lighter;
	font-size: 34px;
	color: rgba(0,0,0,1);
}
#Lorem_ipsum_dolor_sit_amet_con_cd {
	left: 1393.5px;
	top: 592.5px;
	position: absolute;
	overflow: visible;
	width: 409px;
	height: 230px;
	text-align: left;
	font-family: Termina;
	font-style: normal;
	font-weight: lighter;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#BACK {
	left: 1559px;
	top: 47px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Main.html;
	cursor: pointer;
	text-align: left;
	font-family: Termina;
	font-style: normal;
	font-weight: lighter;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Rectangle_23 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_23 {
	position: absolute;
	overflow: visible;
	width: 145px;
	height: 50px;
	left: 1525px;
	top: 35px;
}